:root{
	--main-background: #e0ccb1;
	--main-text-color: #000000;

	--border-color: #000000;

	--margin: .5em;
	--padding: .25em;

	--radius: .15em
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	user-select: none;
	outline: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-background);
	color: var(--main-text-color);
	padding: var(--margin);
}  

.root{
	border: 1px var(--main-text-color) solid;
	padding: var(--padding);
	border-radius: ;
}

.root > .header{
	display: flex;
	flex-direction: column;
}

.root > .header > h5{
	font-family: 'Courier New', Courier, monospace;
	margin-left: .75em;
}

.main{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
}

.main > .lists{
	width: 25%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-left: 0;
}

.main > .lists > input{
	width: 100%;
	background-color: transparent;
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	padding: 0 .5em;
}

.main > .content{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-right: 0;
}