:root{
    --main-background: #c4c6ca;
    --main-text-color: #000000
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    color: var(--main-text-color);
}

