@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Gideon+Roman&family=Yesteryear&family=IBM+Plex+Serif&display=swap');

:root{
	--main-background: #000000;
	--main-text-color: #ffffff;

	--border-color: #ffffff;

	--loading-bg: #131320aa;

	--margin: .5em;
	--padding: .25em;

	--radius: .15em
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	user-select: none;
	outline: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "baybayin";
	src: url("/static/font.ttf");
}

body {
	background-color: var(--main-background);
	/* background-image: url("https://i.pinimg.com/564x/bf/92/a6/bf92a6825a1b8381e13dcca7e188a3d2.jpg"); */
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--main-text-color);
	padding: var(--margin);
	overflow: hidden;
}  

.baybayin{
	font-family: "baybayin";
}

.root{
	border: 1px var(--main-text-color) solid;
	padding: var(--padding);
	border-radius: var(--radius);
	width: 100%;
}

.head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.head > .nav > ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0 .5em;
}

.head > .nav > ul > li::after{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--border-color);
	transition: width .3s;
}

.head > .nav > ul > li:hover:after{
	width: 100%;
}

.head > .nav > ul > li{
	cursor: pointer;
}

.head > .nav > ul > li:nth-child(even){
	margin: 0 .5em;
}

.root > .header{
	display: flex;
	flex-direction: column;
}

.head > .nav > .ham{
	display: none;
}

.root > .header > h5{
	font-family: 'Courier New', Courier, monospace;
	margin-left: .75em;
}

.main > .nav{
	display: none;
}

.main{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
	max-height: 90vh;
}

.main > .lists{
	display: flex;
	flex-direction: column;
	width: 25%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-left: 0;
}

.main > .lists > input{
	width: 100%;
	background-color: transparent;
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	padding: .1em .5em;
}

.main > .lists > input::placeholder{
	color: var(--main-text-color);
}

.main > .lists > .poem-list-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.main > .lists > .poem-list-content > #lists{
	overflow-y: scroll;
	list-style: none;
	margin: .5em 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-y: scroll;
}

.main > .lists > .poem-list-content > #lists > li{
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	margin: .5em .25em;
	padding: 0 .5em;
}

.main > .lists > .poem-list-content > #lists::-webkit-scrollbar{
	width: 0;
}

.main > .lists > .poem-list-content > .page{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main > .lists > .poem-list-content > .page > button, .main > .lists > .poem-list-content > .page > span{
	background-color: transparent;
	padding: .25em 0;
	width: 45%;
	border-radius: 1em;
	border: 1px var(--border-color) solid;
	color: var(--main-text-color);
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}

.main > .lists > .poem-list-content > .page > span{
	cursor: default;
}

.main > .content{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-right: 0;
	text-align: center;
	overflow-y: hidden;
	max-height: 75%;
}

.main > .content > .poem-header{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main > .content > .poem-header > .title > #toggle-list{
	display: none;
	font-size: larger;
	margin: .5em;
}

.main > .content > .poem-header > .title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.main > .content > .poem-header > .title > div > #title{
	font-family: "IBM Plex Serif";
	font-style: italic;
	color: var(--main-text-color);
}

.main > .content > .poem-header > .title > div > #author{
	font-family: "Gideon Roman";
	color: var(--main-text-color);
}

.main > .content > #content{
	margin: .5em;
	overflow-y: scroll;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: "Rochester";
	font-style: italic;
	font-weight: 100;
	max-height: 75vh;
	color: #ffffff;
	text-shadow: 3px 3px 5px #000000;
}

.main > .content > #content::-webkit-scrollbar{
	width: 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.container > .form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.container > .form > label,
.container > .form > button{
	background-color: transparent;
	display: flex;
	flex-direction: row;
	padding: .01em .25em;
	margin: .25em;
	border: 1px var(--border-color) solid;
	border-radius: .5em;
	color:var(--main-text-color);
}

.container > .form > button{
	display: block;
	text-align: center;
}

.container > .form > label > input{
	background-color:  transparent;
	color: var(--main-text-color);
	margin-left: .25em;
}

.container > .form > label > label{
	cursor: pointer;
}

#loading{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--loading-bg);
	color: var(--main-background);
	align-items: center;
	align-content: center;
	justify-content: center;
}

#loading > .circle{
	border-radius: 50%;
	border: 2px var(--main-background) solid;
	width: 3em;
	height: 3em;
	border-left: 0;
	border-right: 0;
	animation: loading 1s 0.001s infinite;
}

@keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 760px) {
	body{
		/* background-image: url("https://i.pinimg.com/564x/c7/78/d9/c778d97ae2fd37b67f1464389c22e9ef.jpg"); */
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: #ffffff;
		height: 80vh;
	}

	.content{
		color: #000000;
	}

	.main > .content > .poem-header > .title > div{
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.head > .nav > ul{
		display: none;
	}
	
	.main > .nav > ul{
		background-color: var(--main-background);	
		flex-direction: column;
		position: absolute;
		z-index: 1;
		right: .5em;
		padding: .75em;
		margin: .5em 0;
		list-style: none;
		border: 1px var(--border-color) solid;
		border-radius: .25em;
	}
	
	.main > .nav > ul > li{
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
		text-align: right;
	}
	
	.head > .nav > .ham{
		display: flex;
		margin-right: .5em;
		font-size: large;
		cursor: pointer;
	}
	
	.main > .lists{
		display: none;
		background-color: var(--main-background);
		position: absolute;
		width: 40%;
		transition: ease-in 1s;
		height: auto;
	}

	.main > .lists > .poem-list-content > .page > #pager{
		font-size: smaller;
	}

	.main > .content {
		margin: .5em 0;
	}

	.main > .content  > #content{
		max-height: 50vh;
	} 

	.main > .content > .poem-header > .title > #toggle-list{
		display: flex;
		color: #ffffff;
		cursor: pointer;
	}

	.main > .lists{
		background-color: #dedede50;
		backdrop-filter: blur(40px);
		width: 75%;
		height: 60vh;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.main > .lists > .poem-list-content > #lists{
		max-height: 18rem;
		overflow-y: scroll;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.main > .lists > input, .main > .lists > #lists > li{
		border: 1px #ffffff solid;
		color: #ffffff;
	}
	.main > .lists > #lists > li{
		padding: 0 .5em
	}
}