@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Gideon+Roman&family=Yesteryear&display=swap');

:root{
	--main-background: #e0ccb1;
	--main-text-color: #000000;

	--border-color: #000000;

	--loading-bg: #131320aa;

	--margin: .5em;
	--padding: .25em;

	--radius: .15em
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	user-select: none;
	outline: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "baybayin";
	src: url("/static/font.ttf");
}

body {
	background-color: var(--main-background);
	color: var(--main-text-color);
	padding: var(--margin);
	overflow: hidden;
}  

.baybayin{
	font-family: "baybayin";
}

.root{
	border: 1px var(--main-text-color) solid;
	padding: var(--padding);
	border-radius: var(--radius);
	width: 100%;
}

.head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.head > .nav > ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0 .5em;
}

.head > .nav > ul > li::after{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--border-color);
	transition: width .3s;
}

.head > .nav > ul > li:hover:after{
	width: 100%;
}

.head > .nav > ul > li{
	cursor: pointer;
}

.head > .nav > ul > li:nth-child(even){
	margin: 0 .5em;
}

.root > .header{
	display: flex;
	flex-direction: column;
}

.root > .header > h5{
	font-family: 'Courier New', Courier, monospace;
	margin-left: .75em;
}

.main{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
}

.main > .lists{
	display: flex;
	flex-direction: column;
	width: 25%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-left: 0;
}

.main > .lists > input{
	width: 100%;
	background-color: transparent;
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	padding: .1em .5em;
}

.main > .lists > input::placeholder{
	color: var(--main-text-color);
}

.main > .lists > #lists{
	overflow-y: scroll;
	max-height: 80vh;
	list-style: none;
	margin: .5em 0;
}

.main > .lists > #lists > li{
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	margin: .5em .25em;
}
.main > .lists > #lists::-webkit-scrollbar{
	width: 0;
}

.main > .lists > .page{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main > .lists > .page > button, .main > .lists > .page > span{
	background-color: transparent;
	padding: .25em 0;
	width: 45%;
	border-radius: 1em;
	border: 1px var(--border-color) solid;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}

.main > .lists > .page > span{
	cursor: default;
}

.main > .content{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-right: 0;
	text-align: center;
	height: 90vh;
	overflow-y: hidden;
}

.main > .content > #content{
	margin: .5em;
	overflow-y: scroll;
	height: 90%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.main > .content > #content::-webkit-scrollbar{
	width: 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.container > .form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.container > .form > label,
.container > .form > button{
	background-color: transparent;
	display: flex;
	flex-direction: row;
	padding: .01em .25em;
	margin: .25em;
	border: 1px var(--border-color) solid;
	border-radius: .5em;
}

.container > .form > button{
	display: block;
	text-align: center;
}

.container > .form > label > input{
	background-color:  transparent;
	color: var(--main-text-color);
	margin-left: .15em;
}

.container > .form > label > label{
	cursor: pointer;
}

#loading{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--loading-bg);
	color: var(--main-background);
	align-items: center;
	align-content: center;
	justify-content: center;
}

#loading > .circle{
	border-radius: 50%;
	border: 2px var(--main-background) solid;
	width: 3em;
	height: 3em;
	border-left: 0;
	border-right: 0;
	animation: loading 1s 0.001s infinite;
}

@keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}
