:root{
	--main-background: #e0ccb1;
	--main-text-color: #000000;

	--border-color: #000000;

	--loading-bg: #131320aa;

	--margin: .5em;
	--padding: .25em;

	--radius: .15em
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	user-select: none;
	outline: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-background);
	color: var(--main-text-color);
	padding: var(--margin);
}  

.root{
	border: 1px var(--main-text-color) solid;
	padding: var(--padding);
	border-radius: var(--radius);
}

.root > .header{
	display: flex;
	flex-direction: column;
}

.root > .header > h5{
	font-family: 'Courier New', Courier, monospace;
	margin-left: .75em;
}

.main{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
}

.main > .lists{
	width: 25%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-left: 0;
	overflow-y: scroll;
}

.main > .lists > input{
	width: 100%;
	background-color: transparent;
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	padding: .1em .5em;
}

.main > .lists > input::placeholder{
	color: var(--main-text-color);
}

.main > .lists > #lists{
	list-style: none;
}

.main > .lists > #lists > li{
	border-radius: .25em;
	border: 1px var(--border-color) solid;
	margin: .5em .25em;
}

.main > .content{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: var(--margin);
	margin-right: 0;
	text-align: center;
	height: 90vh;
}

#loading{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--loading-bg);
	color: var(--main-background);
	align-items: center;
	align-content: center;
	justify-content: center;
}

#loading > .circle{
	border-radius: 50%;
	border: 2px var(--main-background) solid;
	width: 3em;
	height: 3em;
	border-left: 0;
	border-right: 0;
	animation: loading 1s 0.001s infinite;
}

@keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loading{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}
