@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

:root{
	--background: #faf881;
	--color: #ffffff;
	--radius: 0.25em;

	--placeholder: #dedede;

	--base-background: #c58940;
	--nav-color: #b99b6b;

	--scrollbar-background: #a77436;
	--scrollbar-thumb: #77562e;
	--scrollbar-thumb-dark: #47331b;
}
*{
	border: none;
	box-sizing: 0;
	padding: 0;
	margin: 0;
	user-select: none;
	outline: none;
}
body{
	background-color: var(--background);
	color: var(--color);
}

.poems-container{
	display: flex;
	flex-direction: row;
	margin: 1em;
}
.poems-base{
	background-color: var(--base-background);
	padding: 0.5em;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	min-width: 20em;
}
.poems-base div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.poems-base .search-base{
	border: 1px var(--color) solid;
	border-radius: var(--radius);
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

.poems-base input::placeholder{
	color: var(--placeholder);
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}
.poems-base input{
	background-color: var(--base-background);
	width: 100%;
	color: var(--color);
	padding: 0 0.5em;
}
.poems-base ul{
	margin-top: 1em;
	list-style: inside;
}
.poems-base ul li{
	margin-left: 1.5em;
	list-style: decimal-leading-zero;
	font-weight: bolder;
}
.poems-base sub{
	font-size: xx-small;
	font-family: 'Times New Roman', Times, serif;
}

.poems-content{
	width: 100%;
	height: 40em;
}
.poems-lists{
	margin-right: 0.25em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
.poems-lists *{
	padding: 0.25em;
}
.poems-lists ul li{
	list-style: decimal-leading-zero;
	display: block;
	padding: 0 1em;
	margin: 0.1em 1em;
}
.poems-lists ul li:hover{
	background-color: var(--scrollbar-thumb-dark);
	border-radius: 5em;
}
#poem-content{
	overflow-y: scroll;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-weight: lighter;
}
.poems-content .poems-heading{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 0.2em;
}

.poems-heading div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.poems-heading div h5, .poems-heading div h3{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.poems-heading div h5{
	margin: 0.45em;
}

.poems-nav-logo{
	display: none;
}
.poems-heading .poem-menu {
	display: flex;
	align-self: center;
}
.poems-heading .poem-menu ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -0.5em;
}
.poems-heading .poem-menu ul li{
	list-style: none;
	cursor: pointer;
}
.poems-heading .poem-menu ul li:nth-child(even){
	padding: 0 0.5em;
}
.poems-heading .poem-menu ul li span{
	display: block;
}
.poems-heading .poem-menu ul li .poem-icon{
	display: none;
}

.poems-lists .poems-paging{
	display: flex;
	flex-direction: row;
	margin-top: auto;
}

.poems-base .poems-paging span{
	display: block;
	width: 100%;
	text-align: center;
	margin: 0.25em;
	border-radius: 5em;
}

.poems-base .poems-paging span:hover{
	background-color: var(--scrollbar-thumb-dark);
	color: var(--nav-color);
}

.poems-stanza{
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
}

::-webkit-scrollbar{
	width: 0.5em;
}

::-webkit-scrollbar-track{
	background-color: var(--scrollbar-background);
	border-radius: 5em;
}

::-webkit-scrollbar-thumb{
	background-color: var(--scrollbar-thumb);
	border-radius: 5em;
}

::-webkit-scrollbar-thumb:hover{
	background-color: var(--scrollbar-thumb-dark);
	border-radius: 5em;
}

@media only screen and (max-width: 768px){
	.poems-lists{
		display: none;
		position: absolute;
		z-index: 1;
		box-shadow: 1px 1px 3px var(--background);
		border-radius: 0.25em;
	}
	.poems-heading div .poems-nav-logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 1em;
	}
	.poems-heading div .poems-nav-logo p{
		min-width: 1em;
		background-color: var(--nav-color);
		padding: 0.1em;
		margin: 0.1em;
	}
	.poem-about{
		width: 75% !important;
	}
	.poems-heading .poem-menu ul li span{
		display: none;
	}
	.poems-heading .poem-menu ul li .poem-icon{
		display: block;
	}
}