:root{
	--background: #121230;
	--color: #ffffff;
	--radius: 0.1em;

	--base-background: #303060;
}
*{
	border: none;
	box-sizing: 0;
	padding: 0;
	margin: 0;
	user-select: none;
	outline: none;
}
body{
	background-color: var(--background);
	color: var(--color);
}
.poems-container{
	display: flex;
	flex-direction: row;
	margin: 1em;
}
.poems-base{
	background-color: var(--base-background);
	margin: 0.25em;
	padding: 0.5em;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
}
.poems-base div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.poems-base input{
	width: auto;
	border: 1px var(--color) solid;
	border-radius: var()--radius;
}
.poems-base ul{
	margin-top: 1em;
}
.poems-base ul, .poems-base ul li{
	list-style: inside;
}
.poems-base ul li a{
	color: var(--color);
	text-decoration: none;
}
.poems-content{
	width: 100em;
	height: 40em;
}
#poem-content{
	overflow-y: scroll;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}