<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Poetry Website</title>
		<meta name="description" content="A platform where you can share and receive love.">
		<meta name="keywords" content="19N0R3, MPOP Reverse II, RyannKim327, RySes Malabanan, Ryann Kim Sesgundo">
		<meta rel="icon" href="/static/logo.jpg" type="image/*">
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<div class="root head">
			<div class="header">
				<h3>Pen and Love</h3>
				<h5>Where we share our form of arts thru words.</h5>
			</div>
			<div class="nav">
				<span class="ham" id="ham-nav"><i class="fa-solid fa-bars"></i></span>
				<ul>
					<li onclick="home()">Home</li>
					<li onclick="about()">About</li>
					<li onclick="download()">Download</li>
					<li onclick="credentials()">Credentials</li>
					<li onclick="sharelink()">Share</li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="root lists" id="poem-list">
				<input type="search" placeholder="Search a poem here" id="search">
				<ul id="lists"></ul>
				<div class="page">
					<button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
					<span id="pager"></span>
					<button id="next"><i class="fa-solid fa-arrow-right"></i></button>
				</div>
			</div>
			<div class="nav" id="mobile-nav">
				<ul>
					<li onclick="home()">Home</li>
					<li onclick="about()">About</li>
					<li onclick="download()">Download</li>
					<li onclick="credentials()">Credentials</li>
					<li onclick="sharelink()">Share</li>
				</ul>
			</div>
			<div class="root content" id="poem-contents">
				<div class="poem-header">
					<span id="toggle-list"><i class="fa-solid fa-list"></i></span>
					<div class="title">
						<h3 id="title">Pamagat</h3>
						<h5 id="author">Manununla</h5>
					</div>
				</div>
				<p id="content">Makikihintay lamang po</p>
			</div>
			<div class="root container content" style="display: none;" id="formlogin">
				<div class="form">
					<h3>Users form</h3>
					<label class="input">
						<label for="username"><i class="fa-solid fa-user fa-2xs"></i></label>
						<input type="text" id="username">
					</label>
					<label class="input">
						<label for="password"><i class="fa-solid fa-lock fa-2xs"></i></label>
						<input type="password" id="password">
					</label>
					<label class="input" id="confirmPassword">
						<label for="password1"><i class="fa-solid fa-check fa-2xs"></i></label>
						<input type="password" id="password1">
					</label>
					<button id="proceed">Register</button>
				</div>
			</div>
		</div>
		<div id="loading">
			<div class="circle"></div>
			<h3>Please wait...</h3>
		</div>
	</body>
	<script src="/static/ryses.js"></script>
	<script src="/static/script.js"></script>
	<script>
		function download(){
			location.href = "/download"
		}
		function sharelink(){
			navigator.clipboard.writeText(`Here's a like of a poem written by ${share['author']} entitled ${share['title']}\n\nYou may read it at https://pen-and-love.writers.repl.co/read/${share['ID']}`)
			alert("The content is already in your clipboard.")
		}
		function about(){
			document.getElementById("poem-contents").style.display = "block"
			document.getElementById("formlogin").style.display = "none"
			document.getElementById("title").textContent = "About"
			document.getElementById("author").textContent = ""
			document.getElementById("content").innerHTML = "&emsp;The Pen and Love is a web platform where we share and express our feelings though the help of poetry. It is also open for all, readers or writers, who wanted to."
		}
		function home(){
			document.getElementById("poem-contents").style.display = "block"
			document.getElementById("formlogin").style.display = "none"
			let cookie_data = getCookie("poemID").replace(/=/gi, "")
			poem(cookie_data)
		}
		function credentials(){
			document.getElementById("poem-contents").style.display = "none"
			document.getElementById("formlogin").style.display = "flex"
		}
		if(getCookie("credentials") != ""){
			location.href = "/"
		}
		let username = document.getElementById("username")
		let button = document.getElementById("proceed")
		username.onchange = (event) => {
			post_request("/api/confirm-user", {
					"method": "POST",
					"body": JSON.stringify({
						"username": username.value
					})
				}, (r) =>  {
					if(r.total > 0){
						document.getElementById("confirmPassword").style.display = "none"
						button.textContent = "Login"
					}else{
						document.getElementById("confirmPassword").style.display = "flex"
						button.textContent = "Register"
					}
				}
			)
		}
		button.onclick = (event) => {
			post_request("/api/credentials", {
				"method": "POST",
				"body": JSON.stringify({
					"username": username.value,
					"password": document.getElementById("password").value,	
					"password1": document.getElementById("password1").value
				})
			}, (r) => {
				alert(JSON.stringify(r))
			})
		}
	</script>
</html>