<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Poetry Website</title>
		<meta name="description" content="A platform where you can share and receive love.">
		<meta name="keywords" content="19N0R3, MPOP Reverse II, RyannKim327, RySes Malabanan, Ryann Kim Sesgundo">
		<meta rel="icon" href="/static/logo.jpg" type="image/*">
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<div class="root head">
			<div class="header">
				<h3>Pen and Love</h3>
				<h5>Where we share our form of arts thru words.</h5>
			</div>
			<div class="nav">
				<span class="ham" id="ham-nav"><i class="fa-solid fa-bars"></i></span>
				<ul>
					<li onclick="home()">Home</li>
					<li onclick="about()">About</li>
					<li onclick="download()">Download</li>
					<li id="login" onclick="checkCredentials()">Credentials</li>
					<li onclick="sharelink()">Share</li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="root lists" id="poem-list">
				<input type="search" placeholder="Search a poem here" id="search">
				<div class="poem-list-content">
					<ul id="lists"></ul>
					<div class="page">
						<button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
						<span id="pager"></span>
						<button id="next"><i class="fa-solid fa-arrow-right"></i></button>
					</div>
				</div>
			</div>
			<div class="nav" id="mobile-nav">
				<ul>
					<li onclick="home()">Home</li>
					<li onclick="about()">About</li>
					<li onclick="download()">Download</li>
					<li id="loginNav" onclick="checkCredentials()">Credentials</li>
					<li onclick="sharelink()">Share</li>
				</ul>
			</div>
			<div class="root content" id="poem-contents"></div>
		</div>
		<div id="loading">
			<div class="circle"></div>
			<h3>Please wait...</h3>
		</div>
	</body>
	<script src="/static/ryses.js"></script>
	<script src="/static/script.js"></script>
	<script src="/static/form.js"></script>
	<script>
		
	</script>
</html>