<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/static/a.css">
	</head>
	<body>
		<div class="root">
			<div class="header">
				<h3>We Write Poetry</h3>
				<h5>Where we share our form of arts thru words.</h5>
			</div>
		</div>
		<div class="root main">
			<div class="lists">
				sample
			</div>
			<div class="content">
				sample
			</div>
		</div>
	</body>
</html>