<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<div class="container">
			<div class="form">
				<label class="input">
					<label for="username"><i class="fa-solid fa-user fa-2xs"></i></label>
					<input type="text" id="username">
				</label>
				<label class="input">
					<label for="password"><i class="fa-solid fa-lock fa-2xs"></i></label>
					<input type="password" id="password">
				</label>
				<label class="input" id="confirmPassword">
					<label for="password1"><i class="fa-solid fa-check fa-2xs"></i></label>
					<input type="password" id="password1">
				</label>
			</div>
		</div>
	</body>
	<script>
		let username = document.getElementById("username")
		username.
	</script>
</html>