<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<div class="container">
			<div class="form">
				<h3>Users form</h3>
				<label class="input">
					<label for="username"><i class="fa-solid fa-user fa-2xs"></i></label>
					<input type="text" id="username">
				</label>
				<label class="input">
					<label for="password"><i class="fa-solid fa-lock fa-2xs"></i></label>
					<input type="password" id="password">
				</label>
				<label class="input" id="confirmPassword">
					<label for="password1"><i class="fa-solid fa-check fa-2xs"></i></label>
					<input type="password" id="password1">
				</label>
				<button id="proceed">Register</button>
			</div>
		</div>
	</body>
	<script src="/static/script.js"></script>
	<script src="/static/ryses.js"></script>
	<script>
		if(getCookie("credentials") != ""){
			location.href = "/"
		}
		let username = document.getElementById("username")
		let button = document.getElementById("proceed")
		username.onchange = (event) => {
			post_request("/api/confirm-user", {
					"method": "POST",
					"body": JSON.stringify({
						"username": username.value
					})
				}, (r) =>  {
					if(r.total > 0){
						document.getElementById("confirmPassword").style.display = "none"
						button.textContent = "Login"
					}else{
						document.getElementById("confirmPassword").style.display = "flex"
						button.textContent = "Register"
					}
				}
			)
		}
		button.onclick = (event) => {
			post_request("/api/credentials", {
				"method": "POST",
				"body": JSON.stringify({
					"username": username.value,
					"password": document.getElementById("password").value,	
					"password1": document.getElementById("password1").value
				})
			}, (r) => {
				alert(JSON.stringify(r))
			})
		}
	</script>
</html>